$primary-color:rgba(16, 247, 16, 0.822);
$text-color-secondary:rgba(0,0,0,.45);
$headerFontColor:#dbf3e8;
$headerMainBackgroundColor:#31c37c;
$headerSearchBackgroundColor:#2AAA73;
$screen-xl: 1200px;
$screen-sm: 576px;
$screen-xs: 480px;